Django
django-oauth-toolkit
social-auth-app-django
django-rest-framework-social-oauth2
djangorestframework_jwt
django-cors-headers
django-redis
python-dotnet
# For pdf -> possible change to django-wkhtmltopdf due to installation requirements
django_weasyprint
CairoSVG
# For emails V
sendgrid-django 
# For HTML in emails
django-mjml